
<h2 class="text-light">Login</h2>

<form method="POST" action="/login">
		Username: <input name="username" type="text">	
		Password: <input name="password" type="password">	
		<input type="submit" value="Login">	
</form>

<br><hr><br>

<h2 class="text-light">Register</h2>

<form method="POST" action="/register">
		Username: <input name="username" type="text">	
		Password: <input name="password" type="password">	
		<input type="submit" value="Register">	
</form>

<br><br>
{{#if message}}
{{message}}
{{/if}}