<div class="text-center">
	<h1 class="text-light">Dream Diary</h1>
	<p class="lead">A web application for documenting your dreams. Just register for an account to start keeping your own personal dream diary! <br>
	(Don't worry, your account information is protected with the Passport.js authentication package, so your password is never stored in plain-text.)
	</p>
</div>

<h2 class="text-light">Login</h2>

<form method="POST" action="/login">
		Username: <input name="username" type="text">	
		Password: <input name="password" type="password">	
		<input type="submit" value="Login">	
</form>

<br><hr><br>

<h2 class="text-light">Register</h2>

<form method="POST" action="/register">
		Username: <input name="username" type="text">	
		Password: <input name="password" type="password">	
		<input type="submit" value="Register">	
</form>

<br><br>
{{#if message}}
{{message}}
{{/if}}