<h2>Record Your Dream</h2>

<form class="record" method="POST" action="">
    <ul>
        <li>   
            <label for="date">Date: </label>
            <input type="date" name="date" id="date">
        </li>

        <li>   
            <label for="title">Title: </label>
            <input type="text" name="title" id="title">
        </li>

        <li>
            <label for="dream">Dream: </label>
            <input type="text" name="dream" id="dream">
        </li>

        <li>
            <label for="thoughts" name="thoughts" id="thoughts">Thoughts: </label>
            <input type="text" name="thoughts" id="thoughts">
        </li>
    </ul>

    <input type="submit" value="Record">
</form>
<a href="/">Back to Home</a>