<h2>Record Your Dream</h2>

<form class="record" method="POST" action="">
    <label for="date">Date: </label>
    <input type="date" name="date" id="date">

    <label for="dream">Dream: </label>
    <input type="text" name="dream" id="dream">

    <label for="thoughts" name="thoughts" id="thoughts">Thoughts: </label>
    <input type="text" name="thoughts" id="thoughts">
</form>